.container
  %h2 Bejelentkezés a MISTO-ba
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %ul.devise-error
          %li= msg

    .form-inputs
      = f.input :login, :required => false, :autofocus => true, :label => "Törzsszám"
      = f.input :password, :required => false, :label => "Jelszó (központi EGIS jelszó)"
      = f.input :remember_me, :label => "Jelszó megjegyzése", :as => :boolean if devise_mapping.rememberable?
    .form-actions
      = f.button :submit, "Belépés"
